---
---

@import "{{ site.theme }}";

header {
    background: #de830d;
}

section {
   padding: 30px 40px 50px 40px;
}

body {
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#2b2b2b;
  font-weight:300;
  margin: 0px;
  padding:0px 0 20px 0px;
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url(../images/neuron-7047268_640.jpg) #eae6d1;
}


